# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Editable install
*.egg
pip-wheel-metadata/

# Virtual environments
.venv/
env/
venv/
ENV/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/

# Jupyter notebooks
.ipynb_checkpoints

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.tmproj
*.swp
*~

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Ignore generated outputs
outputs/

checkpoints/


